$gray: #8A8A8A !default;
$project_color: #990033 !default;
$button_text_color: #fff !default;


// Animation settings
$bounce-initial-position: 0 !default;
$bounce-medium-position: -7px !default;
$bounce-low-position: -16px !default;