@import "taggle";

//colors
$white: #FFFFFF !default;
$color_fuscous_gray_approx: #555555 !default;
$color_paprika_approx: #990033 !default;
$color_claret_approx: #7C0e33 !default;

$link_color: #990033;
$link_hover_color: #FFFFFF;
$text_color: #8A8A8A;

$demo_font_family:  'Roboto-Thin', 'Roboto', 'sans-serif';
$link_font_family: 'arial', 'sans-serif';

/* * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} */

body {
	font-family: $demo_font_family;
	color: $text_color;
	font-weight: 200;
	background: url("../images/bg.png") repeat;
}

%heading{
	font-weight: 700;
	line-height: 1.5;
}

h1 {
	@extend %heading;
	font-size: 4em;
	margin: .3em 0;
	line-height: 1;
	&.mast {
		font-size: 7em;
	}
}

h2 {
	@extend %heading;
	font-size: 3.2em;
}

h3 {
	@extend %heading;
	font-size: 2.3em;
}

h4 {
	@extend %heading;
	font-size: 2em;
}

h5 {
	@extend %heading;
	font-size: 1.6em;
}

h6 {
	@extend %heading;
	font-size: 1.2em;
}

a {
	color: $link_color;
	text-decoration: none;
	-webkit-transition: color .5s ease-in-out, background-color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out, background-color .5s ease-in-out;
	-o-transition: color .5s ease-in-out, background-color .5s ease-in-out;
	transition: color .5s ease-in-out, background-color .5s ease-in-out;
	
	&:hover {
		background: $link_color;
		color: $link_hover_color;
	}
	
	&:visited {
		color: $link_color;
	}
}

ul, ol {
	font-size: 1em;
	line-height: 1em;
	margin: 0;
}

p {
	line-height: 140%;
	margin-bottom: 10px;
	font-size: 1.1em;
}

strong {
	font-weight: 700;
}

blockquote {
	margin-left: 2em;
	border-left: 4px solid $text_color;
	padding-left: 10px;
}

.text_center {
	text-align: center;
}

.clearfix {
	clear: both;
	display: block;
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

pre {
	line-height: 125%;
}

code {
	padding: 3px;
	color: $color_fuscous_gray_approx;
	font-size: .8rem;
}
.option {
	margin-bottom: 20px;
	p {
		margin-bottom: 0;
		margin-top: 10px;
		&:first-child {
			font-weight: 700;
			color: $color_paprika_approx;
		}
	}
}
.project {
	max-width: 570px;
	margin: 0 auto;
	padding: 0 10px;
	header {
		margin: 10px 0 30px;
	}
}

header {
	text-align: center;
	margin: 50px 0 20px;
}

section {
	margin-bottom: 50px;
}

.block {
	margin-bottom: 30px;
}

#forkongithub {
	z-index: 10;
	
	a {
		font-family: $link_font_family;
		text-align: center;
		font-weight: 700;
		padding: 5px 40px;
		font-size: 1em;
		line-height: 2rem;
		position: relative;
		transition: .5s;
		width: 100%;
		display: block;
		top: 50px;
		color: $link_hover_color;
    	background: $link_color;
		
		&:hover {
			color: $link_hover_color;
			background: darken($link_color, 10%);
		}
	}
	
	a::before {
		content: "";
		width: 100%;
		display: block;
		position: absolute;
		top: 1px;
		left: 0;
		height: 1px;
		background: #FFFFFF;
	}
	
	a::after {
		content: "";
		width: 100%;
		display: block;
		position: absolute;
		top: 1px;
		left: 0;
		height: 1px;
		background: #FFFFFF;
		bottom: 1px;
		top: auto;
	}
	
	@media screen and(min-width:800px) {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;

		a {
			width: 18em;
			position: absolute;
			top: 60px;
			right: -60px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}
}
.twitter_buttons {
	margin: 0 auto 15px;
}